header {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background-image: url('../images/logo.png');
    height: 100px;
    width: 142px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
}